/* Type your code here */
html { 
	background: url(assets/background-image1.png) no-repeat right bottom fixed; 
	font-family: 'Nunito Sans';
}

.logo{
	text-align: right;
	margin-right: 5%;
}

.main{
	margin-left: 5%;
}

h1{
	font-size: 3em;
	text-shadow: 0px 3px #989898;
	margin-bottom: 0;
	font-weight: 800;
	margin-top: 0;
}

h2{
	color: #696969;
	margin-top: 0;
	font-weight: 700;
}

table{
	border-collapse: collapse;
	width: 60%;
}

tr{
	background-color: white;
}

.heading{
	background-color: #FF6600;
	color: white;
}

td{
	height: 40px;
	border-bottom: 1px solid #B8B8B8;
	padding: 0px 10px;
}

.SR{
	text-align: right;
	width: 5px;
}
/* change the font family and spacing as per your project font */